body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #E0E0E0;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1455px;
  height: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.header {
  background: rgba(30, 30, 30, 0.7);
  padding: 15px;
  border-radius: 10px;
}

.subheading {
  font-size: 18px;
  color: #B0B0B0;
}

.about,
.project-info {
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
}

.about h2, .project-info h3 {
  color: #00B8D4;
}

.about p,
.project-info li {
  color: #B0B0B0;
  font-size: 16px;
}

.project-info ul {
  list-style-type: none;
  padding: 0;
}

.project-info li {
  margin-bottom: 10px;
}

.footer {
  margin-top: 50px;
  font-size: 14px;
  color: #B0B0B0;
  background: rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 10px;
}
